.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #3c3c3c;
}

.appContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-image: url(imgs/light-background-home.svg);
  background-size: cover;
}

.messagesList {
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  background-color: #3a3a3a;
  border: rgba(255, 255, 255, 0.8) solid 1px;
  border-radius: 20px;
  height: 60vh;
}

.messagesMessage {
  display: flex;
  margin-top: 10px;
}

.messagesMessage.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.avatar {
  height: 35px;
  min-width: 35px;
  border-radius: 50%;
}

.messagesMessage > .avatar {
  margin: 0 10px -10px;
}

.username {
  color: lightgray;
  font-size: 14px;
}

.messageContent > .username {
  padding-bottom: 4px;
}

.messageContent > .messageText {
  padding: 10px;
  margin: 0;
  border-radius: 12px;
  background-color: #585858;
  color: white;
  display: inline-block;
}

.messageContent > .messageText > div {
  margin-top: 6px;
}

.currentMember > .messageContent .messageText {
  background-color: #57577d;
  border-top-right-radius: 0;
  color: white;
}

.emptyIcon {
  align-self: center;
  filter: opacity(0.2);
}

.appHeader {
  width: 100%;
  background-color: #3a3a3a;
  color: #fff;
  height: 100px;
  border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
  display: flex;
  align-items: center;
}

.appNav {
  background-color: #3a3a3a;
  border-right: rgba(255, 255, 255, 0.5) solid 1px;
  height: calc(100vh - 100px);
  width: 345px;
}

.appWrapper {
  display: flex;
  width: 100vw;
}

.conversationWrapper {
  width: 70%;
}

.recentSearchWrapper {
  padding-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.recentSearchWrapper:hover {
  text-decoration: underline;
}

.downloadFile {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-top: 20px;
}

.downloadFile:hover {
  text-decoration: underline;
}

.closeIcon {
  cursor: "pointer";
}

.closeIcon:hover {
  filter: invert(25%) sepia(86%) saturate(6165%) hue-rotate(357deg)
    brightness(94%) contrast(130%);
}
