.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #3c3c3c;
}

.appContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 16px 0px 16px 40px;
  background-image: url(imgs/light-background-home.svg);
  background-size: cover;
}

.messagesList {
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  background-color: #3a3a3a;
  border: rgba(255, 255, 255, 0.8) solid 1px;
  border-radius: 13px;
  height: 60vh;
}

.messagesMessage {
  display: flex;
  margin-top: 10px;
}

.messagesMessage.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.avatar {
  height: 35px;
  min-width: 35px;
  border-radius: 50%;
}

.messagesMessage > .avatar {
  margin: 0 10px -10px;
}

.username {
  color: lightgray;
  font-size: 14px;
}

.messageContent > .username {
  padding-bottom: 4px;
}

.messageContent > .messageText {
  padding: 10px;
  margin: 0;
  border-radius: 12px;
  background-color: #585858;
  color: white;
  display: inline-block;
}

.messageContent > .messageText > div {
  margin-top: 6px;
}

.currentMember > .messageContent .messageText {
  background-color: #57577d;
  border-top-right-radius: 0;
  color: white;
}

.emptyIcon {
  align-self: center;
  filter: opacity(0.2);
}

.appHeader {
  width: 100%;
  background-color: #3a3a3a;
  color: #fff;
  height: 100px;
  border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
  display: flex;
  align-items: center;
}

.appNav {
  background-color: #3a3a3a;
  border-right: rgba(255, 255, 255, 0.5) solid 1px;
  height: calc(100vh - 100px);
  width: 345px;
}

.appWrapper {
  display: flex;
  width: 100vw;
}

.recentSearchWrapper {
  padding-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.recentSearchWrapper:hover {
  text-decoration: underline;
}

.downloadFile {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-top: 20px;
}

.downloadFile:hover {
  text-decoration: underline;
}

.closeIcon {
  cursor: "pointer";
}

.closeIcon:hover {
  filter: invert(25%) sepia(86%) saturate(6165%) hue-rotate(357deg)
    brightness(94%) contrast(130%);
}

.referenceIconWrapper {
  background-color: white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 15px;
}

.referenceIconWrapper:active {
  background-color: rgb(168, 255, 157) !important;
}

.referencesWrapper {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: flex-start;
  height: 60vh;
  padding: 16px 0px;
}

.referencesHeader {
  color: white;
  background-color: #525252;
  margin-left: 16px;
  width: 100%;
  height: 50px;
  border-left: white solid 1px;
  border-top: white solid 1px;
  border-right: white solid 1px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.referencesBoard {
  background-color: #3a3a3a;
  color: #fff;
  height: 100px;
  width: 100%;
  border-left: white solid 1px;
  border-bottom: white solid 1px;
  border-right: white solid 1px;
  margin-left: 16px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 30px 20px 0px 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.referenceCard {
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
}

.referenceCard:hover {
  box-shadow: 0px 5px 0px rgba(76, 76, 76, 0.6);
}

.referenceCardContent {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.previewImage {
  align-self: left;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.previewCaption {
  margin-bottom: 10px;
  text-align: left;
}

.appInner {
  display: flex;
}
