.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #6b6b6b;
}

.appContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border: 2px solid rgba(211, 211, 211, 0.5);
  background-image: url(imgs/light-background-home.svg);
  background-size: cover;
}

.messagesList {
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  background-color: #3A3A3A;
  border: #FFF solid 1px;
  border-radius: 20px;
  height: 60vh;
  font-family: "Overpass Mono";
}

.messagesMessage {
  display: flex;
  margin-top: 10px;
}

.messagesMessage.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.avatar {
  height: 35px;
  min-width: 35px;
  border-radius: 50%;
}

.messagesMessage > .avatar {
  margin: 0 10px -10px;
}

.username {
  color: lightgray;
  font-size: 14px;
}

.messageContent > .username {
  padding-bottom: 4px;
}

.messageContent > .messageText {
  padding: 10px;
  margin: 0;
  border-radius: 12px;
  background-color: #45455f;
  color: white;
  display: inline-block;
}

.messageContent > .messageText > div {
  margin-top: 6px;
}

.currentMember > .messageContent .messageText {
  background-color: rgb(0, 179, 89);
  border-top-right-radius: 0;
  color: white;
}

.emptyIcon {
  align-self: center;
  filter: opacity(0.2);
}

.appHeader {
  width: 100%;
  background-color: #3A3A3A;
  color: #FFF;
  height: 100px;
  border-bottom: #FFF solid 1px;
  display: flex;
  align-items: center;
}

.appNav {
  background-color: #3A3A3A;
  border-right: #FFF solid 1px;
  height: calc(100vh - 100px);
  width: 345px;
}

.appWrapper {
  display: flex;
  width: 100vw;
}

.conversationWrapper {
  width: 70%;
}

.recentSearchWrapper {
  padding-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.recentSearchWrapper:hover {
  text-decoration: underline;
}